@model NotRealCoverWeb.Models.FacturaVentum

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="text-center">
        <h1 class="mt-4">Crear Nueva Factura</h1>
    </div>
    <hr />

    <form asp-action="Create" class="mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="FechaVenta" class="control-label">Fecha de Venta</label>
                <input asp-for="FechaVenta" class="form-control" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Correlativo" class="control-label">Correlativo</label>
                <input asp-for="Correlativo" class="form-control" />
                <span asp-validation-for="Correlativo" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Cliente" class="control-label">Cliente</label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TotalVenta" class="control-label">Total de Venta</label>
                <input readonly asp-for="TotalVenta" class="form-control" />
                <span asp-validation-for="TotalVenta" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="detalles" class="control-label">Detalles de la Factura</label>
                @await Html.PartialAsync("_DetFacturaVentas", Model.DetFacturaVenta)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
